@media (min-width: 700px) {

    header {
        justify-content: start;
        position: relative;
    }

    footer{
        margin-bottom: 10px;
    }

    #ham-btn {
        display: none;
    }

    #navegacao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #navegacao ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    #navegacao li {
        border-radius: 5px;
        background-color: var(--fundos);
        cursor: pointer;

    }

    #navegacao a {
        display: inline-block;
        transition: 0.3s;
    }

    #navegacao a:hover {
        transform: scale(1.1);
    }

    #navegacao a[aria-current="page"] {
        background-color: var(--fundoMenu);
        padding: 5px;
        border-radius: 5px;

    }

    #lista_de_empresas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        transition: 0.3s;
    }

    .card:hover {
        transform: scale(1.02);
    }

    #lista_de_empresas {
        width: 95%;
        margin: 30px auto;

    }

    table {
        width: 100%;
        min-width: 0;

    }

    th,
    td {
        padding: 14px;
    }

    

    .hero img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    .acao-btn{
        position: absolute;
        right: 17%;
        top:410px
    }

    .frase-hero{
        position: absolute;
        left: 70%;
        top: 300px;
        text-shadow: 0 5px 20px var(--funto-texto);
    }

    .eventos_atuais{
        max-width: 900px;
        margin: 0 auto;

    }
    .evento{
        width: 100%;
    }

    .tempo {
        width: 80%;
        max-width: 900px;
        margin: 30px auto;
    }

    .clima {
        padding: 30px;
    }

    .clima-atual h3 {
        font-size: 4rem;
    }

    .clima-atual p {
        font-size: 1.3rem;
    }

    .previsao {
        gap: 20px;
    }

    .dia {
        padding: 20px;
    }

    .dia h3 {
        font-size: 1.2rem;
    }

    .dia p {
        font-size: 1.5rem;
    }

     .empresas_em_destaque {
        width: 90%;
        max-width: 1100px;
        margin: 40px auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }


    .empresa-card {
        margin-bottom: 0;
        padding: 25px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        transition: transform 0.3s, box-shadow 0.3s;
    }


    .empresa-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }


    .empresa-card h3 {
        font-size: 1.4rem;
    }


    .empresa-card img {
        width: 140px;
        height: 140px;
    }


}