@media (min-width: 700px) {

    header {
        justify-content: start;
        position: relative;
    }

    footer{
        margin-bottom: 10px;
    }

    #ham-btn {
        display: none;
    }

    #navegacao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #navegacao ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
       
    }

    #navegacao li {
        border-radius: 5px;
        background-color: var(--fundos);
        cursor: pointer;


    }

    #navegacao a {
        display: inline-block;
        transition: 0.3s;
    }

    #navegacao a:hover {
        transform: scale(1.1);
    }

    #navegacao a[aria-current="page"] {
        background-color: var(--fundoMenu);
        padding: 5px;
        border-radius: 5px;

    }


    /* MAIN */
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 900px;
    }
    .cartoes{
        display: flex;
        flex-direction: column;
    }


     /* FOOTER */

    .footer-conteudo {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        max-width: 1100px;
        margin: 0 auto;
    }

    .redes-sociais {
        justify-content: flex-start;
    }

    .footer-informacoes {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

}

