@media (min-width: 700px){


    /* HEARDER */

    header,nav,main,footer{
        max-width: 98%;
        
        
    }

    header{
        display: flex;
        justify-content: space-evenly;
    }

    #menu_ham{
        display: none;
    }

    #navegacao{
        display: flex;
    }
    #navegacao ul{
        display: flex;
        gap: 50px;
    }






    /* RODAPÉ */


    #rodape {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin-top: 0;
    }

    #empresa, #videos, #identificador{
        border: none;
    }
    #direitos{
        grid-column: 1/4;
        text-align: center;
        border-top: 1px solid var(--cinza);
        margin: 0 100px;
    }

    #empresa{
        margin-left: 30px;
    }

}